.cmp-game-ui
{
	$squareSize: 100px;

	&__board
	{
		margin: 50px auto;
		position: relative;
		width: $squareSize * 8;
		box-shadow: -3px 4px 20px 3px #909090;
	}

	&__square
	{
		position: relative;
		background-color: #E5E5E5;
		width: $squareSize;
		height: $squareSize;

		&--dark
		{
			background-color: #BA7A3A;
		}

		&-number
		{
			position: absolute;
			font-family: sans-serif;
			color: #b1b1b1;
			top: 5px;
			left: 5px;
		}
	}

	&__piece-container
	{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		height: $squareSize;
		width: $squareSize;
		transition: all .25s linear;

		@for $row from 0 through 7
		{
			&--row-#{$row}
			{
				top: $row * $squareSize;
			}
		}

		@for $column from 0 through 7
		{
			&--column-#{$column}
			{
				left: $column * $squareSize;
			}
		}
	}

	&__piece
	{
		position: relative;
		border-radius: 50%;
		width: 70%;
		height: 70%;
		border: 3px solid white;

		&--first-player
		{
			background-color: #CC0000;
		}

		&--second-player
		{
			background-color: black;
		}

		&--selected
		{
			border-color: yellow;
		}

		&--king
		{
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MiAzNyI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9IiNmZmYiIG9wYWNpdHk9Ii41IiBkPSJNMSAxbDQgMzVoNTJsNC0zNS0xMCAxNkw0MSAxIDMxIDE3IDIxIDEgMTEgMTd6Ii8+PC9zdmc+);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50%;
		}
	}

	&__move-hint-container
	{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__move-hint
	{
		position: relative;
		border-radius: 50%;
		width: 50%;
		height: 50%;
		background-color: rgba(#000, 0.2);
	}

}